<% layout('./layouts/template') %>
    <div class="row">
        <h1 class="text-center">Edit Camp</h1>
        <div class="col-6 offset-3">
            <form action="/camps/<%= camp._id %>?_method=PATCH" method="post" novalidate class="form-validation"
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Enter Title</label>
                    <input class="form-control" type="text" required id="title" placeholder="Enter Name"
                        name="camp[title]" value="<%= camp.title %>">
                </div>
                <div class="row">
                    <div class="col-lg-7 col-md-12 mb-3">
                        <label class="form-label" for="location">Enter Location</label>
                        <input class="form-control" type="text" required id="location" placeholder="Enter Location"
                            name="camp[location]" value="<%= camp.location %>">
                    </div>
                    <div class="col-lg-5 col-md-12 mb-3">
                        <label class="form-label" for="price">CampGround Price</label>
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input type="number" class="form-control" placeholder="0.00" name="camp[price]" id="price"
                                value="<%= camp.price %>" required>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Enter Description</label>
                    <textarea class="form-control" type="text" id="description"
                        name="camp[description]"><%= camp.description %> </textarea>
                </div>
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Add More Images</label>
                    <input class="form-control" type="file" id="formFileMultiple" name="image" multiple>
                </div>
                <h6 class="text-center">Check Delete button to delete Images</h6>
                <div class="mb-3">
                    <% camp.image.forEach(function (img, index) { %>
                        <div class="mb-3">
                            <img src="<%= img.thumbnail %>" class="img-thumbnail">
                            <div class="form-check-inline">
                                <input type="checkbox" id="image-<%=index%>" name="deleteImage[]"
                                    value="<%= img.fileName%>">
                            </div>
                            <label for="image-<%=index%>">Delete?</label>
                        </div>
                        <%}) %>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Update</button>
                    <a class="btn btn-danger mx-2" href="/camps/<%= camp._id %>"> Cancel</a>
                </div>
            </form>
        </div>
    </div>
    </div>
    </body>

    </html>