<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Camp</title>
</head>

<body>
    <h1>Update Camp</h1>
    <form action="/camps/<%= camp._id %>?_method=PATCH" method="post">
        <label for="title">Enter Title: </label>
        <input type="text" required id="title" placeholder="Enter Name" name="title" value="<%= camp.title %>">
        <label for="description">Enter Description: </label>
        <input type="text" required id="description" placeholder="Enter Description" name="description"
            value="<%= camp.description %>">
        <label for="location">Enter Location: </label>
        <input type="text" required id="location" placeholder="Enter Location" name="location"
            value="<%= camp.location %>">
        <button type="submit">Update</button>
    </form>
    <a href="/camps/<%= camp._id %>">Cancel</a>
</body>

</html>