<% layout('./layouts/template') %>
    <div class="row mb-2">
        <div class="col-8 offset-2">
            <div class="card">
                <img class="card-img-top" src="<%= camp.image %> " alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= camp.title %>
                    </h5>
                    <p class="card-text">
                        <%= camp.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= camp.location %>
                    </li>
                    <li class="list-group-item">$<%= camp.price %>/Night</li>
                </ul>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
                <div class="card-body">
                    <form class="d-inline" action="/camps/<%= camp._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                    <a href="/camps/<%= camp._id%>/edit" class="btn btn-info mx-2">Update</a>
                    <a href="/camps" class="btn btn-success">All Camps</a>
                </div>
            </div>
        </div>
    </div>