<% layout('./layouts/template') %>
    <h1>
        <%= camp.title %>
    </h1>
    <img src="<%= camp.image %>" alt="Camp Image">
    <h4>
        <%= camp.price%>,<%= camp.description%> 
    </h4>
    <h4> <%= camp.location %></h4>
    <a href="/camps/<%= camp.id %>/edit">Edit Camp Ground</a>
    <a href="/camps">All Camp Ground</a>
    <form action="/camps/<%= camp._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
    